<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hocus Pocus Helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Hocus Pocus.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>82ACE7D91AC9A2B700FEA6B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82ACE7E91AC9A2B700FEA6B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D1F5DB1ACC28C00046248F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>82D1F5EA1ACC28C10046248F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
